<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pi-LOT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>connectTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9F2A49118EBF21C0084FCE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F2A4B518EBF21C0084FCE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F2A4DF18EC1C7B0084FCE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F2A4EC18EC1C9A0084FCE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
